{
	# global options
	admin off # theres no need for the admin api in railway's environment
	persist_config off # storage isn't persistent anyway
	auto_https off # railway handles https for us, this would cause issues if left enabled
	log {
		# runtime logs
		format console # set runtime log format to console mode 
	}
	servers {
		# server options
		trusted_proxies static private_ranges # trust railway's proxy
	}
}

:{$PORT} {
	# site block, listens on the $PORT environment variable, automatically assigned by railway
	log {
		# access logs
		format console # set access log format to console mode
	}

	@api_host {
		host {$API_HOST_EXTERNAL}
	}

	# reverse_proxy @api_host http://{$API_HOST_INTERNAL}
	respond @api_host "Hello, world! - api host"

	@web_host {
		host {$WEB_HOST_EXTERNAL}
	}

	# reverse_proxy @web_host http://{$WEB_HOST_INTERNAL}
	respond @web_host "Hello, world! - web host"
}
